<!--

Feel free to edit the HTML and CSS to make it your own. You can also check the README.md file to know more.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">
  <title>PB Media - Company Profile</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/logo.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/IMG-20240129-WA0012.jpg" alt="Richard hanrick" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Richard hanrick">PB Media</h1>

          <p class="title">Dynamic Blueprint</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:richard@example.com" class="contact-link">motloungmr@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+12133522795" class="contact-link">+27 (0)76 960 7832</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Established</p>

              <time datetime="1982-06-23">July 23, 2020</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>8191 Molefe, Thokoza, SOUTH AFRICA</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>Home</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Blog</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

        </ul>

      </nav>





      <!--
        - #HOME
      -->

      <article class="home  active" data-page="home">

        <header>
            <span><h3 class="h3 article-title">Management & Ownership</h3></span>
        </header>

        <section class="about-text">
            <p>P.B Media (Prestige Broadcasting Media) Pty Ltd is 100% youth owned company which 
            Is the new definition of exceptional, with diverse interests which comprise of divisions 
            Namely:
            1. P.B-Media Agency 
            2. P.B-Media Marketing Communications and Event Planning</p>
          <p>Mr. Musa Motloung is an extraordinary young man who is the founder of the company. 
          A visionary through an inspired mind who believes that innovation is key. Worked in 
          the media industry for the past 3 years and 4 years in marketing and sales. He wants to 
          create jobs that are secure, safe, and reliable that will stand the test of time. He switches 
          from talent to talent management and materialized from his own experience. He saw a 
          need for sincere artists and hopes that the producers he works with will support him in 
          doing what is right and honest for the talent management industry
</p>

          <p>
            My job is to build your website so that it is functional and user-friendly but at the same time attractive.
            Moreover, I
            add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
            across your
            message and identity in the most creative way. I created web design for many famous brand companies. I enjoy
              turning complex problems into simple, beautiful and intuitive designs.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-photo.svg" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Broadcasting Agency</h4>

                <p class="service-item-text">
                 I currently offer casting services, provides local and foreign models for TV commercials and 
                    background artists. 
                </p>
                <p class="service-item-text">We hope to introduce fresh faces and new talents into the industry; therefore we are trying our 
                  best to search for new faces who have the right look and the right personality for commercial 
                  work. Since commercial work is a reflection of real life. Talents we need any age group from 0 
                  to 100 or over including babies, teens, adults, elderly. Variety of looks and body type (0-200kg) 
                  which means no matter how you look as long as you have confidence.</p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level. My job is to build your website so that it is functional and user-friendly but at the same time attractive.
                    Moreover, I
                    add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
                    across your
                    message and identity in the most creative way. I created web design for many famous brand companies. I enjoy
                      turning complex problems into simple, beautiful and intuitive designs.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-app.svg" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mobile apps</h4>

                <p class="service-item-text">
                  Professional development of applications for iOS, Android and MetaTrader.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-design.svg
                    " alt="design icon"width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Media and Marketing Communications</h4>

                <p class="service-item-text">
                    Events Hosting & Management:- - Sometimes, PR and advertising simply aren’t enough. ....... 
                    Sometimes you need to provide a metaphorical ‘shop window’ for your products or services – an 
                    exhibition, conference or promotional product launch. At other times, you need to focus on your 
                    internal communications and plan a team building weekend, party or AGM.
                </p>
              </div>

            </li>

          </ul>

        </section>


        <!--
          - testimonials
        -->

        <section class="testimonials">

          <h3 class="h3 testimonials-title">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-2.png" alt="Daniel lewis" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Miss Courntney N Tshepe</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                      Miss Courntney N Tshepe Co-ordinator is an extraordinary young 
                      woman who is the founder of the company. A visionary through 
                      an inspired mind who believes that innovation is key. Worked in 
                      the media industry for the past 4 years and 5 years. She wants 
                      to create jobs that are secure, safe, and reliable that will stand 
                      the test of time. She switches from talent to talent management 
                      and materialized from her own experiences. She saw a need for 
                      sincere artists and hopes that the producers she works with will 
                      support her in doing what is right and honest for the talent 
                      management industry.
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-2.png" alt="Jessica miller" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Lebohang Mushe</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                      Directing Actors has proven utterly invaluable. Ideas from the production management team are so clearly explained and more importantly demonstrated, that it is immediately possible to see just what an important contribution this series makes to the training of actors and directors.

                      There is nothing available that can compete with this thoroughly comprehensive work. As a coach, and as a director, I am challenged, changed and empowered by Directing Actors.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-4.png" alt="Henry william" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry william</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Musa was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </section>


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./assets/images/IMG-20240129-WA0012.jpg" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="./assets/images/icon-quote.svg" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>


        <!--
          - clients
        -->

        <section class="clients">

          <h3 class="h3 clients-title">Clients</h3>

          <ul class="clients-list has-scrollbar">

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/SmokeMirrors.jpeg" alt="client logo">
              </a>
            </li>
            
            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/BloodWater.jpeg" alt="client logo">
              </a>
            </li>
            
            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/1802.jpeg" alt="client logo">
              </a>
            </li>
            
            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/TheRiver.png" alt="client logo">
              </a>
            </li>
            
            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/TshedzaPictures.jpeg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/TheQueen.jpeg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/Gomora.jpeg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/GenerationsTheLegacy.jpg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/Isono.jpeg" alt="client logo">
              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #ABOUT
      -->

      <article class="about" data-page="about">

        <header>
          <h2 class="h2 article-title">Goals</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Mission, Vision, Values & Commitment</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Mission</h4>

              <span> -—- </span>

              <p class="timeline-text">
                The diligence of our competent service will ensure that we give clients value for money. Our efficiency provides worldclass and effective services to meet the clients demands and needs. This will be achieved through strategic motives used in 
                modern mediums of technologies to separate our company from the rest.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Vision</h4>

              <span> -—- </span>

              <p class="timeline-text">
                To strive for superiority in the media industry in order to bring a new perception of business and secure the future by 
                driving the excellence of a service provider today.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Values</h4>

              <span> -—- </span>

              <p class="timeline-text">
                In conducting our business, we embrace a core set of values which are our competitive advantages and are as follows: 
                HONESTY, INTEGRITY, RELIABILITY, PROFESSIONAL QUALITY SERVICES, EXCELLENCE, INNOVATION, 
                VALUE FOR MONEY, EFFICIENCY & EFFICTIVENESS, LOYALTY, HUMANITY, AND RESPECT.
              </p>

            </li>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Commitment</h4>

              <span> -—- </span>

              <p class="timeline-text">
                We distinguish ourselves from the competitors by delivering prompt and accurate service to our clients in the most 
                professional, efficient and reliable manner. We give our clients the assurance that we will be there when they need us at all
                times. Our entire focus is driving our client’s sales, building their brands and forging long lasting relationships with their 
                customers
              </p>

            </li>
            
          </ol>

        </section>

         <section><p class="about"> <span><h4>{{quote}}</h4>
          <h4>{{author}}</h4> </p></section>

        <div data-modal-text>

           <section><p class="timeline-text">  <h4>----</h4>
            <h4></h4> </p></span></section>
        </div>

        
        <section class="skill">

          <h3 class="h3 skills-title">AREAS OF SPECIALIZATION</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Broadcasting</h5>
                <data value="80">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Graphic design</h5>
                <data value="70">70%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%;"></div>
              </div>

            </li>
            
            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5"> Events & Functions, Marketing Communications</h5>
                <data value="75">75%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 75%;"></div>
              </div>

            </li>
            
            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Branding</h5>
                <data value="90">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Catering</h5>
                <data value="50">50%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Web Development</h5>
                <data value="85">85%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 85%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Applications</h5>
                <data value="80">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>
          </ul>

        </section>

      </article>





      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>PB_Media Agency</button>                
            </li>

            <li class="filter-item">
              <button data-filter-btn>Applications</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>PB_Media Agency</button>
              </li>

              <li class="select-item">
                <button data-select-item>Applications</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-1.jpg" alt="finance" loading="lazy">
                </figure>

                <h3 class="project-title">Finance</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/event-website-design.png" alt="Event Planner" loading="lazy">
                </figure>

                <h3 class="project-title">Event Planner</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="pb_media agency">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/Film.JPG" alt="Production Management" loading="lazy">
                </figure>

                <h3 class="project-title">Production Management</h3>

                <p class="project-category">PB_Media Agency</p>

              </a>
            </li>
              
            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/AlgoTrading.PNG" alt="MetaTrader EA[Bot]" loading="lazy">
                </figure>

                <h3 class="project-title">MetaTrader EA[Bot]</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                 </div>

                 <img src="./assets/images/Esparanza.jpg" alt="Esparanza" loading="lazy">
               </figure>

               <h3 class="project-title">Esparanza</h3>

               <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="pb_media agency">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/Cast on Set.JPG" alt="Cast on Set." loading="lazy">
                </figure>

                <h3 class="project-title">Cast on Set</h3>

                <p class="project-category">PB_Media Agency</p>

              </a>
            </li>


              </li>

              <li class="project-item  active" data-filter-item data-category="pb_media agency">
                <a href="#">

                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img src="./assets/images/CAstOnSet.JPG" alt="Cast on Set." loading="lazy">
                  </figure>

                  <h3 class="project-title">Cast on Set</h3>

                  <p class="project-category">PB_Media Agency</p>

                </a>
              </li>

              </li>

              <li class="project-item  active" data-filter-item data-category="pb_media agency">
                <a href="#">

                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img src="./assets/images/Talent.JPG" alt="Talent." loading="lazy">
                  </figure>

                  <h3 class="project-title">Talent</h3>

                  <p class="project-category">PB_Media Agency</p>

                </a>
              </li>

              </li>

              <li class="project-item  active" data-filter-item data-category="pb_media agency">
                <a href="#">

                  <figure class="project-img">
                    <div class="project-item-icon-box">
                      <ion-icon name="eye-outline"></ion-icon>
                    </div>

                    <img src="./assets/images/Talent-1.JPG" alt="Talent." loading="lazy">
                  </figure>

                  <h3 class="project-title">Talent</h3>

                  <p class="project-category">PB_Media Agency</p>

                </a>
              </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/PortfolioSite.jpeg" alt="Portfolio Design" loading="lazy">
                </figure>

                <h3 class="project-title">Portfolio Design</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category= "applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-8.jpg" alt="task manager" loading="lazy">
                </figure>

                <h3 class="project-title">Task Manager</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-9.png" alt="arrival" loading="lazy">
                </figure>

                <h3 class="project-title">Arrival</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #BLOG
      -->

      <article class="blog" data-page="blog">

        <header>
          <h2 class="h2 article-title">Blog</h2>
        </header>

        <section class="blog-posts">

          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/1802cast.jpg" alt="Design digest #80" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">1802</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Cast</time>
                  </div>
                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/SKcast.jpg" alt="Design digest #80" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Smoke & Mirrors</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Cast</time>
                  </div>
                </div>

              </a>
            </li>


            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/ReferenceApril.JPG" alt="Design conferences in 2022" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Reference</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Aug 23, 2023</time>
                  </div>

                  <h3 class="h3 blog-item-title">1802 Love Defies Time</h3>

                  <p class="blog-text">“1802: Love Defies Time” follows the story of two star-crossed lovers as they travel through time in search of their destiny. Khosi (Sikelelwa Vuyeleni), a young and talented doctor, stands on the cusp of a bright future in 2023
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/ReferenceAugust.JPG" alt="Best fonts every designer" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Smokes & Mirrors</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Apr 4, 2024</time>
                  </div>

                  <h3 class="h3 blog-item-title">Best fonts every designer</h3>

                  <p class="blog-text">
                    Smoke & Mirrors is set in the landscape of a small mining town called Emnyameni. Here, we come to learn that the story lives up to its name nothing and no one is truly as they seem.
                  </p>

                </div>

              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>

        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199666.5651251294!2d-121.58334177520186!3d38.56165006739519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac672b28397f9%3A0x921f6aaa74197fdb!2sSacramento%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1647608789441!5m2!1sen!2sbd"
              width="400" height="300" loading="lazy"></iframe>
          </figure>
        </section>

        <section class="contact-form">

          <h3 class="h3 form-title">Contact Form</h3>

          <form action="#" class="form" data-form>

            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>

              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

          </form>

        </section>

      </article>
    </div>

  </main>






  <!--
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>